/* Custom CSS */

/* ############# Home Page ####################### */

.navbar .account .account-options {
    display: none;
}

.navbar .account .account-options.logged-in {
    display: block;
}

.navbar .account .log-in {
    display: inline;
}

.navbar .account .log-in.logged-in {
    display: none;
}

.dropdown-menu {
    right: 0;
    left: unset;
}

.dropdown-item.welcome-text:hover {
    background-color: transparent;
}

.profile-pic {
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
    height: 40px;
    width: 40px;
}

.profile-pic > img {
    display: block;
    height: inherit;
    width: auto;
}

.text-tertiary {
    color: lightblue;
}

.carousel-item {
    height: 60vh;
    width: 100%;
}

/* .carousel-control {
    background-color: transparent;
    border: none;
} */

.carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-indicators > button {
    background-color: gray;
    height: 4px;
    width: 15px;
    border: none;
}

.carousel-indicators > button.active {
    background-color: black;
}

#featured-listings > h2 {
    text-align: center;
}

.featured-content {
    display: flex;
    gap: 20px;
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
}

.listing-card ul {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
}

.listing-card .listing-address {
    margin: 0;
}

.card-img > img {
    width: 100%;
    height: auto;
}

.listing-card > .card-body {
    display: flex;
    justify-content: space-between;
}

.listing-card .tools {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bookmark-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    width: 30px;
    height: 30px;
}

.bookmark-icon > svg:hover {
    fill: #1C274D;
}

.bookmark-icon > svg:active{
    pointer-events: none;
}

.bookmark-icon > svg:active *{
    pointer-events: none;
}

.bookmark-icon > svg:hover path:last-of-type {
    stroke: white;
}

#featured-listings > button {
    display: block;
}

footer div.links > * {
    text-align: center;
}

footer div.links a {
    color: wheat;
    text-decoration: none;
}


/* ################ SIGN IN PAGE #################### */

.form-signin > div{
    width: 90vw;
    padding: 10px;
    border-radius: 20px;
}

.form-signin a.submit {
    display: block;
}



/* Medium devices (large phones, portrait tablets, 600px and up) */
@media only screen and (min-width: 600px) {
    .form-signin > div{
        width: 70vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .form-signin > div{
        width: 45vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .form-signin > div{
        width: 30vw;
    }
}

